@import 'constants.scss';

/* for Firefox */
::-moz-selection { 
    color:  white;
    background: $selection;
}

::selection {
    color:  white;
    background: $selection;
}

::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: $selection;;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $primary; 
}

@mixin sm {
    @media (max-width: #{$screen-sm}) {
        @content;
    }
}

body {
    font-size: 16px;
    font-family: $Inter;
    background-color: $bg-color;
    color:$text-color;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    
    &:focus {
        outline: none;
    }
}

img {
    max-width: 100%;
}

hr {
    border-width: 0;
    border-top: 2px solid;
    border-color: #444c5a;
}

i {
    font-size: .8rem;
}

.container {
    max-width: 650px;
    margin: 0 auto;
    min-height: 100vh;
    padding: 0 1rem;
}

.name {
    text-align: center;
    padding: 2rem 0;

    a {
        font-family: $Cookie;
        font-size: 2.5rem;
        text-decoration: none;
        display: inline-block;
        text-align: center;
        font-weight: 500;
        text-align: center;
        margin: 0;
    }
}

.navbar {
    display:flex;
    justify-content:space-between;
    align-items: center;

    a {
        font-weight: 600;
        text-decoration: none;
        
        &:hover {
            text-decoration: underline;
        }

        &:first-child {
            margin-right: 1rem;
        }

        &.active {
            color: $primary;;
        }
    }
}

.subtitle {
    color: $primary;
    font-family: $Comfortaa;
}

.home {
    img {
        display: block;
        margin: 3rem auto 0 auto;
    }

    h5 {
        text-align: center;
    }

    h4 {
        color: $primary;
        font-family: $Comfortaa;
    }

    p {
        font-family: $Inter;
        font-size: .9rem;
    }
}

.social {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    width: 50%;
    margin: 3rem auto;

    @include sm {
        width: 75%;
    }
}

@mixin line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.post {
    a {
        text-decoration: none;
        transition-duration: .2s;
        color: $primary;
        margin-top: 0;
        font-family: $Comfortaa;
        font-size: 1.5rem;
        &:hover {
            text-decoration: underline;
        }
    }
    
    p {
        @include line-clamp
    }
}

.post-card {
    display: grid;
    align-items: center;
    grid-gap: 1rem;
    grid-template-columns: 2fr 1.5fr;

    @include sm {
        display: block;
    }

    div {
        grid-column: span 2;
        
        &:not(:only-child) {
            grid-column: 1;
        }
    }

    img {
        height: 100%;
        width: 100%;
        @include sm {
            margin-top: 2rem;
        }
    }
}

.project-details {
    
    b {
        color: $primary;
    }

    .project-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include sm {
            display: block;
        }

        h3 {
            margin: 0;
            color: $primary;
        }

        .tag-container {
            @include sm {
                margin: 1rem 0;
            }
        }

        .tag {
            font-size: .8rem;
            background-color: $primary;
            border-radius: 10px;
            padding: 3px 8px;
            cursor: default;
            color: $bg-color;
            
            &:first-child {
                margin-right: 10px;
            }
        }

    }

    .project-link {
        padding: .7rem 1rem;
        border: 1px solid $text-color;
        border-radius: 999px;
        display: inline-flex;
        text-decoration: none;
        
        &:first-child {
            margin-right: 1rem;
        }

        span {
            margin-right: 5px;
        }

        &:hover {
            color: $primary;
            border-color: inherit;
        }
    }
}

.seperator {
    width: 10%;
    margin: 2.5rem auto;

    &:last-child {
        display: none;
    }
}

.icon {
    padding: .7rem;
    color: $text-color;
    border-radius: 999px;
    display: flex;
    align-items: center;
    transition-duration: .2s;
    border: 1px solid $bg-color;
    
    &:hover {
        color: $primary;
        border-color: inherit;
    }
}
