@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Cookie&family=Inter&family=Indie+Flower&display=swap');

// Fonts

$Comfortaa: 'Comfortaa', cursive;
$Cookie: 'Cookie', cursive;
$IndieFlower: 'Indie Flower', cursive;
$Inter: 'Inter', sans-serif;

// Colors

$selection: #0e1111;
// $bg-color: #222831   ;
$bg-color: #0D0F16   ;
$text-color: #C4C4C4;
// $primary: #4ECCA3;
// $primary: #ef5777
$primary: #10ac84;

// Device Size

$screen-sm: 576px